
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --Very-dark-cyan: hsl(183, 100%, 15%);
  ---Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  --Strong-cyan: hsl(172, 67%, 45%);
  --hover-cyab:hsl(173, 52%, 76%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

#root{
  max-width: 1280px;  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  min-height: 100vh;
  background-color: var(--Light-grayish-cyan);
}


.logo-container{
  margin: 50px;
}

.logo{
  margin-top: 50px;
}
.container{
  display: flex;
  background-color: var(--White);
  padding: 40px;
  border-radius: 20px;
  gap: 50px;
}

.container-left{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
}

.container-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.custom-input{
  width: 100%;
}

.custom-input::placeholder{
  text-align: center;
}

.subcontainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label{
  color: var(---Dark-grayish-cyan);
  font-size: 24px;
  font-weight: 600;
}

label:not(:first-child){
  margin-top: 30px;
}

input{
  height: 50px;
  border: none;
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Very-dark-cyan);
  font-weight: 700;
  font-size: 24px;
  text-align: right;
  cursor: pointer;
  border-radius: 5px;
  padding-right: 15px;
  width: 100%;
}

.input-bill{
  background-image: url(../src/assets/img/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: 14px;
}

.input-people{
  background-image: url(../src/assets/img/icon-person.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: 14px;
}

.input-people.active{
  border-color: red;
}

input:focus{
  outline: none;
  border: solid 2px var(--Strong-cyan);
}

/* Ocultar las flechas en versiones más recientes de Chrome */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none; /* Ocultar completamente las flechas */
}

input::placeholder{
  color: var(--Grayish-cyan);
  font-size: 24px;
}

.container-people{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-error{
  color: red;
  font-weight: 600;
}

button{
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 24px;
  }

.button-tip{
  color: var(--White);
  background-color: var(--Very-dark-cyan);
}

.button-tip.active{
  background-color: var(--Strong-cyan)
}

.button-tip:hover{
  background-color: var(--hover-cyab);
}

.container-right{
  width: 50%;
  background-color: var(--Very-dark-cyan);
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text{
  color: var(--White);
  font-size: 24px;
}

.text-person{
  color: var(--Grayish-cyan);
  font-size: 20px;
}

.container-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.number{
  font-size: 2.5rem;
  color: var(--Strong-cyan)
}

.btn-reset{
  width: 100%;
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.btn-reset:hover{
  background-color: var(--Light-grayish-cyan);
}